<!-- <table *ngIf="ticker">
  <tr>
    <th>Price ({{ ticker.change24Perc }})</th>
    <td>{{ ticker.last }}</td>
    <th>Volume</th>
    <td>{{ ticker.vol }}</td>
  </tr>
  <tr>
    <th>Bid</th>
    <td>{{ ticker.bid }}</td>
    <th>Ask</th>
    <td>{{ ticker.ask }}</td>
  </tr>
  <tr>
    <th>Low</th>
    <td>{{ ticker.low }}</td>
    <th>High</th>
    <td>{{ ticker.high }}</td>
  </tr>
</table> -->
<div class="wrapper">
  <mat-card *ngIf="ticker" class="ticker-card">
    <table class="ticker-table">
      <tr>
        <th>Price&nbsp;(
          <span [cpeChangePercent]="ticker.change24Perc"></span>)</th>
        <td>
          <span cpeUpDownAnimate [value]="ticker.last"></span>
        </td>
        <th>Volume 24h</th>
        <td>
          <span cpeUpDownAnimate [value]="ticker.vol"></span>
        </td>
      </tr>
      <tr>
        <th>Best bid</th>
        <td>
          <span cpeUpDownAnimate [value]="ticker.bid"></span>
        </td>
        <th>Best ask</th>
        <td>
          <span cpeUpDownAnimate [value]="ticker.ask"></span>
        </td>
      </tr>
      <tr *ngIf="ticker.low || ticker.high">
        <th>Low 24h</th>
        <td>
          <span cpeUpDownAnimate [value]="ticker.low"></span>
        </td>
        <th>High 24h</th>
        <td>
          <span cpeUpDownAnimate [value]="ticker.high"></span>
        </td>
      </tr>
    </table>
  </mat-card>
</div>
