<!-- <h1>{{ exchange }} {{ pair }}</h1>

<p>Orderbook</p>
<app-ccex-orderbook [orderbook]="orderbook$ | async"></app-ccex-orderbook>

{{ trade$ | async | json }}

<app-ccex-tradingview [symbol]="symbol"></app-ccex-tradingview> -->

<mat-form-field>
  <mat-select placeholder="Exchange" [value]="exchange$ | async" (valueChange)="selectExchange($event)">
    <mat-option *ngFor="let exchange of exchanges" [value]="exchange">
      {{ exchange }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Pair" [value]="pair$ | async" (valueChange)="selectPair($event)">
    <mat-option *ngFor="let pair of pairs" [value]="pair">
      {{ pair }}
    </mat-option>
  </mat-select>
</mat-form-field>

<p>Ticker</p>
<app-ccex-ticker [ticker]="ticker$ | async"></app-ccex-ticker>

<p>Chart</p>
<mat-button-toggle-group [value]="chartResolution$ | async">
  <mat-button-toggle *ngFor="let res of chartResolutions" [value]="res" (click)="selectChartResolution(res)">{{getResPeriodText(res)}}</mat-button-toggle>
</mat-button-toggle-group>
<app-ccex-chart [data]="chartData$ | async" [options]="chartOptions"></app-ccex-chart>

<!-- <app-ccex-binance-user-stream></app-ccex-binance-user-stream> -->
